{ 
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "linebreak-style": 0,
    "no-console": 0
  }
}