<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Skatespot.io</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
</head>
<body>  
  {{{body}}}
</body>
</html>