<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>skatespot.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/material-components-web.min.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/material-style.css"/>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCLrWfeNtdjy7sTf9YKsqYn5ZUqYVbjhWo&libraries=places"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
</head>
<body class='mdc-typography'>
  <section id="main">
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>