html {
    padding:0;
    margin:0;
}

body {
    padding:0;
    margin:0;
    overflow-y: hidden;
}

html,body {
    height: 100%;
}

#main {
    height: 100%;
}

.spot_infobox {
    position: absolute;
    background-color:white;
    padding: 12px;
    width: calc(100% - 24px);
    bottom: 0;
    top: 0;
    z-index:1;
    display:flex;
    flex-direction: column;
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media(min-width: 800px) {
    .desktop-400 {
        width:400px !important;
    }
}

.reviewForm {
    padding: 12px;
}

.appGrid {
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    right: 0;
}

@media(max-width: 599px) {
    .appGrid {
        top:56px;
    }
}

.search_field {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
}

.mdc-toolbar__section {
    height: 64px;
}

.apptoolbar {
    opacity: 1;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

@media(max-width: 800px) {
    .apptoolbar-hidden {
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 250ms;
    }
}

.skatespot-map__parent {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.skatespot-map__fab {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

.skatespot-map__location {
    bottom: 5.5rem;
    background-color: white;
    z-index: 1;
}

@media(min-width: 1024px) {
    .skatespot-map__fab {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .skatespot-map__location {
        bottom: 6rem;
        right: 1.5rem;
    }
 }

.skatespot-map__location > .mdc-fab__icon {
    color: rgba(0, 0, 0, 0.54);
}

.skatespot-map__location-active > .mdc-fab__icon{
    color: #d50000;
}

.spotList {
    flex: 1;
    overflow-y: scroll;
    padding-top: 0rem;
}

.spot_menu_tabs {
    min-width: 72px;
    max-width: 800px;
}

.addSpotParent {
    padding-top: 0px;
    padding:12px;
}

/* Spot List Animation */
.spotAnim-enter {
    transform: translate3d(-500px, 0, 0);
}
.spotAnim-enter-active {
    transform: translate3d(0px, 0, 0);
    transition: transform 200ms linear;
}
.spotAnim-exit {
    transform: translate3d(0px, 0, 0);
}
.spotAnim-exit-active {
    transform: translate3d(-500px, 0, 0);
    transition: transform 200ms linear;
}

/* Styling the add form */
.spotForm > .mdc-form-field {
    transform: translate3d(-12px, 0, 0);
}

.spotForm > .mdc-text-field--textarea {
    margin-bottom: 0px;
}

.spotForm > .mdc-text-field--textarea {
    margin-bottom: 0px;
}

.spot_name {
    margin-top: 4px !important;
}

.gmap-searchbox {
    position: absolute;
    top: 0;
    right: 32px;
    background-color: rgb(240, 240, 240) !important;
    width: 33%;
}

/* Review List */
.review-list-item.review-list-item__active {
    height: auto !important;
    padding-top: 14px;
    padding-bottom: 14px;
}

.review-list-item__active > .mdc-list-item__text {
    white-space: normal !important;
}

 .review-list-item__active > .mdc-list-item__text > .mdc-list-item__primary-text {
    text-overflow: unset;
    white-space: normal !important;
}

/* Map Marker */
.mapMarker {
    background-image: url('/assets/img/skatespot_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute !important;
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
}

.mapMarker__addspot {
    background-image: url('/assets/img/skatespot_addspot.png');
}

/* Search Form */
.mapsearch__input {
    padding-top:0px !important;
}

/* Sponsored Spots */
.spot__sponsored {
    background-color: #ffdfdf;
}

/* Toolbar Logo */
.toolbar-logo {
    background-image: url('/assets/img/skatespot_icon_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    width: 22px !important;
    height: 22px !important;
    transform: translate3d(0, .46rem, 0);
    padding-left: 6px;
}

/* Splashscreen Stuff */
.splash-screen-button {
    margin-top: 7px;
    background-color: #d32f2f !important;
    color: white !important;
}

/* Mobile Stuff */
@media only screen and (max-width: 800px) {

    .skateSpotListParent {
        display: flex;
        width: 100% !important;
        flex-direction: column;
        height: 100% !important;
    }

    .gmap-searchbox {
        left: 32px;
        width: calc(100% - 70px);
    }
}

.addspot__bottombar-next-button {
    color: var(--mdc-theme-on-primary) !important;
}

/* Desktop Only */
@media only screen and (min-width: 800px) {
    .skatespot-sidebar {
        height:100%;
    }
}

/* Star Rating */
.reviewform-rating {
    padding-bottom: 8px;
}

.dv-star-rating {
    font-size: 20px;
    transform: translate3d(0, 5px, 0);
}

.mdc-toolbar__title{
    font-weight: 700;
    font-size: 1.5rem;
    /* Always force toolbar to use "with menuicon" margins */
    margin-left: 8px;
    margin-right: 0;
}

.remove-link-styling {
    color:inherit;
    text-decoration:none;
}

.force-block {
    display: block;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #D50000;
}

/* list to spot sliding transition */
.transition__slide-tospot-enter {
    transform: translate3d(400px, 0 , 0);
}
  
.transition__slide-tospot-enter-active {
    transform: translate3d(0px, 0, 0);
    transition: transform 450ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
  
.transition__slide-tospot-exit {
    transform: translate3d(0px, 0, 0);
}
  
.transition__slide-tospot-exit-active {
    transform: translate3d(-400px, 0, 0);
    transition: transform 450ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
  
/* spot to list sliding transition */
.transition__slide-tolist-enter {
    transform: translate3d(-400px, 0, 0);
}
  
.transition__slide-tolist-enter-active {
    transform: translate3d(0px, 0, 0);
    transition: transform 450ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
  
.transition__slide-tolist-exit {
    transform: translate3d(0px, 0, 0);
}
  
.transition__slide-tolist-exit-active {
    transform: translate3d(400px, 0, 0);
    transition: transform 450ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* add spot menu transition */
.transition__show_addspot-enter {
    transform: translate3d(0, 300px, 0);
    position: absolute;
    opacity: 0;
}
  
.transition__show_addspot-enter-active {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    transition: opacity 350ms, transform 350ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
  
.transition__show_addspot-exit {
    opacity: 1;
}
  
.transition__show_addspot-exit-active {
    opacity: 0;
    transition: opacity 350ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* add spot bottom sheet transition */
.transition__show_addspot_bar-enter {
    position: absolute;
    opacity: 0;
}
  
.transition__show_addspot_bar-enter-active {
    opacity: 1;
    transition: opacity 350ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
  
.transition__show_addspot_bar-exit {
    opacity: 1;
}
  
.transition__show_addspot_bar-exit-active {
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* remove spot menu transition */
.transition__hide_addspot-enter {
    opacity: 0;
    position: absolute;
}
  
.transition__hide_addspot-enter-active {
    opacity: 1;
    transition: opacity 350ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
  
.transition__hide_addspot-exit {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}
  
.transition__hide_addspot-exit-active {
    opacity: 0;
    transform: translate3d(0px, 300px, 0px);
    transition: opacity 350ms, transform 350ms cubic-bezier(0.4, 0.0, 1, 1);
}

/* add spot menu transition */
.transition__show_reviewlist-enter {
    transform: translate3d(0px, 150px, 0px);
    opacity: 0;
}
  
.transition__show_reviewlist-enter-active {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    transition: opacity 250ms, transform 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
    transition-delay: 0.1s;
}
  
.transition__show_reviewlist-exit {
    opacity: 1;
}
  
.transition__show_reviewlist-exit-active {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0.0, 1, 1);
    transition-delay: 0.1s;
}

/* Snackbar Fix */
.mdc-snackbar {
    z-index: 1;
}

/* Bottom Bar for AddSpot */
.addspot__bottombar {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
}

.skateSpotListParent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.skatespotmarker {
    animation-name: addMarker;
    animation-duration: .47s;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);  
}

.skatespotmarker_add {
    transition: transform 0.24s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes addMarker {
    from { margin-top: -65vh }
    to   { margin-top: -32px; }
}

.skateSpotListParent {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}

@media(min-width: 800px) {
    .skateSpotListParent {
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: white;
    }
}

/* New Card Slide Transition */
/* add spot menu transition */
.transition__cardslide-enter {
    transform: translate3d(0px, 100%, 0px);
}
  
.transition__cardslide-enter-active {
    transition: transform 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
    transform: translate3d(0px, 0%, 0px);
    transition-delay: 225ms;
}
  
.transition__cardslide-exit {
    transform: translate3d(0px, 0px, 0px);
}
  
.transition__cardslide-exit-active {
    transition: transform 200ms cubic-bezier(0.4, 0.0, 1, 1);
    transform: translate3d(0px, 100%, 0px);
}

.AddSpotBox {
    position: absolute;
    height: 64px;
    bottom: 0;
    box-sizing: border-box;
    padding: 12px;
    width:100%;
    z-index:1;
    background-color: #4f5b62;
    color: var(--mdc-theme-on-primary);
}

.AddSpotBox.extended {
    height: 100%;
    background-color: white;
    color: black;
    transition: all 270ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.newSearchBar {
    margin-top: 0px;
    flex: 1;
}

@media(min-width: 800px) {
    .newSearchBar-icon {
        display: none;
    }
}

.leaflet-top.leaflet-right {
    z-index: 0;
}

.fab__review {
    bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.review_section {
    flex: 1;
    overflow-y: scroll;
    margin: 0 -12px -12px -12px;
}

@media(min-width: 800px) {
    .transition__cardslide-enter.horizontal__desktop {
        transform: translate3d(-100%, 0px, 0px);
    }
      
    .transition__cardslide-enter-active.horizontal__desktop {
        transition: transform 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
        transform: translate3d(0px, 0px, 0px);
        transition-delay: 225ms;
    }
      
    .transition__cardslide-exit.horizontal__desktop {
        transform: translate3d(0px, 0px, 0px);
    }
      
    .transition__cardslide-exit-active.horizontal__desktop {
        transition: transform 200ms cubic-bezier(0.4, 0.0, 1, 1);
        transform: translate3d(-100%, 0px, 0px);
    }
}