html {
    height:100%;
    padding:0;
    margin:0;
}

body {
    height:100%;
    padding:0;
    margin:0;
}

#main {
    height: 100%;
}

.spot_infobox {
    padding: 12px;
}

.reviewForm {
    padding: 12px;
}

.appGrid {
    display: grid;
    grid-template-columns: 400px auto;
    height: calc(100% - 64px);
}

.search_field {
    width: 50%;
}

.mdc-toolbar__section {
    height: 64px;
}

.skatespot-map__parent {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1;
    height: 100%;
}

.skatespot-sidebar {
    grid-column: 1/1;
    grid-row: 1;
    overflow-y: hidden;
}

.skatespot-map__fab {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

@media only screen and (max-width: 800px) {
    .skatespot-sidebar {
        width: 100%;
        height: 50%;
    }
    .skatespot-map__parent {
        width: 100%;
        height: 50%;
    }

    .appGrid {
        display: inherit;
    }
}

.spotList {
    height: calc(100% - 145px);
    overflow-y: scroll;
}

.spot_menu_tabs {
    min-width: 72px;
    max-width: 800px;
}

.addSpotParent {
    padding:24px;
}