:root {
    --mdc-theme-primary: #455A64;
    --mdc-theme-secondary: #d32f2f;
}

html {
    height:100%;
    padding:0;
    margin:0;
}

body {
    height:100%;
    padding:0;
    margin:0;
}

#main {
    height: 100%;
}

.spot_infobox {
    padding: 12px;
    padding-top: 0px;
}

.reviewForm {
    padding: 12px;
}

.appGrid {
    display: grid;
    grid-template-columns: 400px auto;
    height: calc(100% - 64px);
}

.search_field {
    width: 50%;
    padding-top: 0px;
    margin-top: 0px;
}

.mdc-toolbar__section {
    height: 64px;
}

.skatespot-map__parent {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1;
    height: 100%;
}

.skatespot-sidebar {
    grid-column: 1/1;
    grid-row: 1;
}

.skatespot-map__fab {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

@media only screen and (max-width: 800px) {
    .skatespot-sidebar {
        width: 100%;
        height: 50%;
    }
    .skatespot-map__parent {
        width: 100%;
        height: 50%;
    }

    .appGrid {
        display: inherit;
    }
}

.spotList {
    height: calc(100% - 145px);
    overflow-y: scroll;
}

.spot_menu_tabs {
    min-width: 72px;
    max-width: 800px;
}

.addSpotParent {
    padding-top: 0px;
    padding:12px;
}

/* Spot List Animation */
.spotAnim-enter {
    transform: translate(-500px);
}
.spotAnim-enter-active {
    transform: translate(0px);
    transition: transform 200ms linear;
}
.spotAnim-exit {
    transform: translate(0px);
}
.spotAnim-exit-active {
    transform: translate(-500px);
    transition: transform 200ms linear;
}

/* Styling the add form */
.spotForm > .mdc-form-field {
    transform: translateX(-12px);
}

.spotForm > .mdc-text-field--textarea {
    margin-bottom: 0px;
}

.spotForm > .mdc-text-field--textarea {
    margin-bottom: 0px;
}

.spot_name {
    margin-top: 4px !important;
}

.gmap-searchbox {
    position: absolute;
    top: 0;
    right: 32px;
    background-color: rgb(240, 240, 240) !important;
    width: 33%;
}

/* Review List */
.review-list-item.review-list-item__active {
    height: auto !important;
    padding-top: 14px;
    padding-bottom: 14px;
}
.review-list-item.review-list-item__active > * {
   overflow: visible !important;
   white-space: normal  !important;
}

/* Map Marker */
.mapMarker {
    background-image: url('/assets/img/skatespot_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute !important;
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
}

.mapMarker__addspot {
    background-image: url('/assets/img/skatespot_addspot.png');
}

/* Search Form */
.mapsearch__input {
    padding-top:0px !important;
}

/* Sponsored Spots */
.spot__sponsored {
    background-color: #ffdfdf;
}

/* Toolbar Logo */
.toolbar-logo {
    background-image: url('/assets/img/skatespot_icon_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    width: 22px !important;
    height: 22px !important;
    transform: translateY(0px);
    padding-left: 3px;
}