html,body {
    height:100%;
    padding:0;
    margin:0;
}


.spot_infobox {
    padding: 12px;
}

.reviewForm {
    padding: 12px;
}

.appGrid {
    display: grid;
    grid-template-columns: 33% 66%;
    height: calc(100% - 64px);
}

.search_field {
    width: 50%;
}

.mdc-toolbar__section {
    height: 64px;
}

.skatespot-map__parent {
    grid-column: 2 / 3;
    grid-row: 1;
}

.skatespot-sidebar {
    grid-column: 1/1;
    grid-row: 1;
}

@media only screen and (max-width: 800px) {
    .skatespot-sidebar {
        width: 100%;
        height: 50%;
    }
    .skatespot-map__parent {
        width: 100%;
        height: 50%;
    }

    .appGrid {
        display: inherit;
    }
}

.spotList {
    height: calc(100% - 130px);
    overflow-y: scroll;
}

.spot_menu_tabs {
    min-width: 72px;
    max-width: 800px;
}

.addSpotParent {
    padding:24px;
}