html, body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(202, 30%, 11%);
    color: hsla(0, 0%, 100%, 0.87);
    margin: 0;
    height: 100%; overflow: hidden
}

.spot_infobox {
    padding: 12px;
}

#reviewForm {
    padding: 12px;
}

.skatespot_list {
    background-color: hsl(198, 15%, 30%);
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;
    transition: border-left .2s;
}

.skatespot_list:hover {
    border-left: 12px solid rgb(213, 240, 255);
    transition: border-left .2s;
}

.skatespot_list-open {
    border-left: 12px solid rgb(213, 240, 255);
    transition: border-left .2s;
}


.spotName {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

#spotName {
    width:50%;
}

#spotDesc {
    width:50%;
}

.spotDescription {
    font-size: 24px;
    color: hsla(0, 0%, 100%, 0.7);
}

.mapMarker {
    display: inline-block;
    background-color: hsla(201, 76%, 10%, 0.8);
    color: hsla(0, 0%, 100%, 0.87);
    font-size: 18px;
    padding: 4px;
    font-weight: 700;
    border: 4px solid white;
}

.spot_infobox {
    background-color: hsl(198, 15%, 30%);
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px;
    border-left: 12px solid rgb(213, 240, 255);
}

.review-item {
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: hsl(196, 12%, 44%);
}

.review-author {
    font-size: 20px;
    font-weight: 700;
}

.review-rating {
    font-size: 20px;
    font-weight: 700;
}

.review-text {
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.7);
}

.reviews-header {
    font-size: 24px;
    margin-bottom: 6px;
}

.add-review {
    background-color: hsl(196, 76%, 65%);
    transition: border-left .2s;
}

.add-review:hover {
    border-left: 12px solid rgb(255, 255, 255);
    transition: border-left .2s;
}

.review-item-open {
    border-left: 12px solid rgb(255, 255, 255);
}

#reviewForm {
    font-size: 20px
}

.back-button {
    background-color: #55acee;
    width: 70px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    padding: 4px;
    text-align: center;
    color:inherit;
    text-decoration: none;
}

.splashscreen {
    text-align: center;
    transform: translateY(245px) scale(2);
    line-height: 10px;
}

.big-bg {
    background: url(/assets/img/skate_dof.png) no-repeat 50% 50% fixed;
    background-size: cover;
}